<html>
...
<body>
  <script type="text/javascript" src="https://cdn.omise.co/card.js.gz"></script>
  <script type="text/javascript">
    // Set default parameters
    OmiseCard.configure({
        publicKey: 'YOUR_PUBLIC_KEY',
        amount: 1000000, // 10,000 THB
        frameLabel: 'Merchant site name'
    });

    OmiseCard.configureButton('#checkout-button');
    OmiseCard.configureButton('#discount-button', {
        amount: 500000 // 5,000 THB
    });
</script>

<form name="checkoutForm" method="POST" action="test.html">
    <!--Sample checkout for a 10,000.00 THB charge-->
    <button type="submit" id="checkout-button">CHECK OUT</button>

    <button type="submit" id="discount-button">LUCKY! DISCOUNT 50%</button>
</form>

<script type="text/javascript">OmiseCard.attach();</script>
</body>
</html>
