<div class="whole-blog">
  <div class="main">
    <div class="head-nav">

    </div>
    <div class="contain">
      <h1>Stock#bg</h1>
      <p>Find me in app/views/stock/bg.html.erb</p>
      <%= link_to "Back", :back %>
    </div>
  </div>
  <div class="side-right">
    sidebar
  </div>
</div>
