<div class="whole-blog">
  <div class="main">
    <div class="head-nav">
      Global Trend
      <span class="flex"></span>
      <%= link_to "Back", :back %>
    </div>
    <div class="contain">
      <h1>Stock#trend</h1>

      <div class="border">
        <span class="header">U.S. Banking</span>
        <p>
          lorem ipsum lodvnusfnuirovhfds iuovnfvoiumvoiprvm rwoipvnrwoipvwrmviowfpmvjofiwepvmjfwiovf mrwoivm wfvoipfwmvjpoifdw vmjfpowivnfio pwvmfwoi[vmwd fjvo[ipfwmvjoif wmvjoifwpvmjwefiopvm qeroifpmjwero[vip mrwevo[iperwmjiofjmwfeo ipvnwreoi]]]]
        </p>
        <ul class="picker">
          <li class="valid">Interest rate</li>
          <li class="valid">Dodd Frank Act.Under Trump presidency</li>
        </ul>
      </div>

      <div class="border">
        <span class="header">World Oil</span>
        <p>
          lorem ipsum lodvnusfnuirovhfds iuovnfvoiumvoiprvm rwoipvnrwoipvwrmviowfpmvjofiwepvmjfwiovf mrwoivm wfvoipfwmvjpoifdw vmjfpowivnfio pwvmfwoi[vmwd fjvo[ipfwmvjoif wmvjoifwpvmjwefiopvm qeroifpmjwero[vip mrwevo[iperwmjiofjmwfeo ipvnwreoi]]]]
        </p>
        <ul class="picker">
          <li class="valid">OPEC/Non-OPEC Agreement</li>
          <li class="valid">U.S. Share Output</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="side-right">
    <div class="contain">
      chat blog
      <div class="chatter">
        <div class="canvasi">
          <% 7.times do %>
            <li>
              <span class="name">John: </span>
              <span class="comment">Today russian roup agree!!</span>
            </li>
          <% end %>
        </div>
        <div class="inputer">
          <textarea name="name" rows="2" cols=""></textarea>
          <button type="button" name="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
